body {
  margin: 0;
  height: 100vh;
  background-color: cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.container {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 300px;
  text-align: center;
}

#textarea {
  height: 100px;
  margin: 15px 0;
}

.tag {
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: goldenrod;
}

.tag.highlight {
  background-color: lightslategrey;
}
